 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Renaissance Art Database (RenArtDB) is a visual learning resource
                      for the stydy of Renaissance art.
                      <br><br>
                      Whether you are a student,
                      an art lover or a professional, you may visually access
                      over 130 Renaissance paintings and sculptors through an <a href="#portfolio">
                      interactive Map</a> displaying both current and original locations.
                      If you wish to edit, implement or fully reuse any information,
                      you are welcome to <a href="#footer">contact us</a>, download our data set
                      and share your up-to-date version.
                      <br><br>

                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                    RenArtDB came together as a collaborative project within the context of the module 'Renaissance Art and
                    Architecture', <a href="http://www.buckingham.ac.uk/humanities/arthistory" target="_blank">
                    University of Buckingham</a> (Spring Term 2016).
                    <br><br>
                    Under the supervision of <a href="https://www.facebook.com/carlo.corsato"
                    target="_blank">Carlo Corsato</a>, a <a href="#portfolio">team</a> of
                    12 undergraduate students from both Art History and Psychology filled information on the data set,
                    shared a spreadsheet on <a href="https://www.google.com/drive/" target="_blank">
                    Google Drive</a> and used a <a href="https://www.facebook.com/groups/765751306894693/"
                    target="_blank">Facebook</a> group to discuss and fix any issues they came across.
                  </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://www.dropbox.com/sh/gd1nk0096w8wjrs/AADTTUoGqk5oS7xKiQ4LoCO7a?dl=0"
                    class="btn btn-lg btn-outline" target="_blank">
                        <i class="fa fa-download"></i> Download Data Set
                    </a>
                </div>
            </div>
        </div>
    </section>
